body{
  background-color: darkgreen;
  height: 100vh;
  width: 100vw;
}


.carousel {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}
h1 {
  font-family: Yesteryear;
  font-size: 4rem;
  text-align: center;
  color: lightgreen;
}
 .carousel-item {
  display: none;
 }
.carousel-item-hidden {
  display: none;
}

.carousel-item-visible {
  display: block;
  animation: fadeVisibility 2s;
}

img {
  width: 100%;
  max-width: 800;
  height: auto;
  border-radius: 10px;
}

.carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

button {
  border-radius: 50px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  cursor: pointer;width: 40px;
  height: 40px;
}

#btn-prev {
  margin-left: 20px;
}
#btn-next {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% { 
    opacity: 0;
     }
  100% {
    opacity: 1;
  }   
}